<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="scout">

  <link name="base_link"/>

  <link name="imu_link"/>

  <joint name="imu_joint" type="fixed">
    <parent link="base_link" />
    <child link="imu_link" />
  </joint>

  <link name="top_chassis_link"/>

  <joint name="top_chassis_joint" type="fixed">
    <parent link="base_link"/>
    <child link="top_chassis_link"/>
  </joint>

  <link name="top_plate_link"/>

  <joint name="top_plate_joint" type="fixed">
    <parent link="base_link"/>
    <child link="top_plate_link"/>
    <origin xyz="0.0812 0 0.245" rpy="0 0 0"/>
  </joint>

  <link name="top_plate_front_link"/>

  <joint name="top_plate_front_joint" type="fixed">
    <parent link="top_plate_link" />
    <child link="top_plate_front_link"/>
    <origin xyz="0.36367 0 0.00639" rpy="0 0 0"/>
  </joint>

  <link name="top_plate_rear_link"/>

  <joint name="top_plate_rear_joint" type="fixed">
    <parent link="top_plate_link" />
    <child link="top_plate_rear_link"/>
    <origin xyz="-0.36633 0 0.00639" rpy="0 0 0"/>
  </joint>

  <link name="velodyne_base_link"/>

  <joint name="velodyne_base_joint" type="fixed">
    <origin xyz="-0.075 0 0.45639" rpy="0 0 0"/>
    <parent link="top_plate_link"/>
    <child link="velodyne_base_link"/>
  </joint>

  <link name="velodyne_link"/>

  <joint name="velodyne_joint" type="fixed">
    <origin xyz="0 0 0.482" rpy="0 0 0"/>
    <parent link="velodyne_base_link"/>
    <child link="velodyne_link"/>
  </joint>

</robot>