<?xml version="1.0"?>

<launch>

	<arg name="config" default="base" />

	
	<include file="$(find jackal_gazebo)/launch/jackal_world.launch" >
		<arg name="world_name" value="/root/Shared_folder/worlds/L8_4_gazebo.world" />
		<arg name="x_pos" value="-8.5" />
		<arg name="y_pos" value="7.7" />
		<arg name="z_pos" value="1.0" />
		<arg name="yaw" value="0" />
		<arg name="config" value="roas" />
	</include>


  <!-- Load Keybaord/Joystick node  -->
  <include file="$(find jackal_teleop)/launch/jackal_teleop_key.launch"/> 


	<include file="$(find cartographer_ros)/launch/demo_jackal_3d.launch">
		<arg name="use_bag_file" value="false"/>
		<arg name="config" value="$(arg config)" />		
	</include>
	


</launch>
